.search-div {
  padding-top: 50px;
  margin-bottom: 10px;
}
.no-right-padding {
  padding-right: 0 !important;
}
.no-left-padding {
  padding-left: 0 !important;
}
.display-inline {
  display: inline-block;
}
.results-block {
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.username {
  margin-right: 5px;
}